.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: rgb(37, 37, 37);
}

.nav__links {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 26px;
}

.nav__line {
  width: 1px;
  height: 40px;
  background-color: white;
}
