.sidebar {
  width: 0px;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  transition: width 0.3s ease;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.expanded {
  width: 500px;
}
